<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nojerazvan/Desktop/JenkinsProject">
        <classes>
            <class name="TC1_LoginCTQ"></class>
            <class name="TC2_FailTestPentruDemo"></class>
        </classes>


    </test></suite>